<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>新しく【PLAYERNAME】と【NUMBER】と【POSITION】と【NATIONALITY】を登録します</h3>
  <h5>エラーメッセージ</h5>
  <p>{{ alterForm.value | json }} {{ alterForm.status | json }}</p>

  <form novalidate [formGroup]="alterForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-label><h4>PLAYERNAME:</h4></mat-label>
      <mat-form-field>
        <input matInput formControlName="playername" placeholder="PLAYERNAME" type="text" required>
        <mat-error *ngIf="alterForm.get('playername').hasError('required') && alterForm.get('playername').touched">PLAYERNAME is required</mat-error>
      </mat-form-field >
    </p>
    <p>
      <mat-label><h4>NUMBER:</h4></mat-label>
      <mat-form-field >
        <input matInput formControlName="number" placeholder="NUMBER" type="text" required>
        <mat-error *ngIf="alterForm.get('number').hasError('required') && alterForm.get('number').touched">NUMBER is required</mat-error>
      </mat-form-field >
    </p>
    <p>
      <mat-label><h4>POSITION:</h4></mat-label>
      <mat-form-field >
        <input matInput formControlName="position" placeholder="POSITION" type="tel" required>
        <mat-error *ngIf="alterForm.get('position').hasError('required') && alterForm.get('position').touched">POSITION is required</mat-error>
      </mat-form-field >
    </p>
    
    <table class="form-size">
      <td>
        <mat-label><h4>NATIONALITY:</h4></mat-label>
      </td>
      <td>
        <mat-select placeholder="" formControlName="nationality">
          <mat-option *ngFor="let ntype of nationality" [value]="ntype">
            {{ ntype }}
          </mat-option>
        </mat-select>
      </td>
    </table>

    <button type="submit" mat-button class="background-primary text-floral-white">修正</button>
  </form>
</div>
