<mat-toolbar color="white">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PC2015verβ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a mat-button routerLink="/search"><span class="fa fa-search fa-lg"></span>検索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <!-- search -->
  <a mat-button routerLink="/add"><span class="fa fa-plus fa-lg"></span>追加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <!-- add -->
  <a mat-button routerLink="/delete"><span class="fa fa-ban fa-lg"></span>削除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <!-- delete -->
  <a mat-button routerLink="/alter"><span class="fa fa-ban fa-lg"></span>修正&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <!-- alter -->
</mat-toolbar>
<hr/>

